.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-div {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  height: auto;

}

.card-list-item {
  list-style: none;
}

.card-list {
  padding: 0;
}

.fixed {
  position: sticky;
  z-index: 1000;
}

.toolbar {
  top: 0;
}

.loader {
  top: 64px;
}

.spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: 599px) {
  .loader {
    top: 56px;
  }
} 