.video-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

@media only screen and (max-width: 392px) {
  .mat-card-actions {
    .mat-button {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.card-image {
  max-height: 243px;
  height: 54vw;
  background-color: lightgray;
}