<mat-card class="video-card">
  <mat-card-header>
    <img *ngIf="video.showImage" mat-card-avatar [src]="video.showImage" [alt]="video.showName">
    <mat-card-title>{{ video.name }}</mat-card-title>
    <mat-card-subtitle>{{ video.publishDate | date }}</mat-card-subtitle>
  </mat-card-header>
  <img class="card-image" mat-card-image [src]="video.image" [alt]="video.name">
  <mat-card-content>
    <p>{{ video.deck }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [href]="video.siteDetailUrl" target="_blank" rel="noopener">WATCH ON GIANT BOMB</a>
    <a *ngIf="video.showDetailUrl" mat-button [href]="video.showDetailUrl" target="_blank" rel="noopener">GO TO SHOW PAGE</a>
  </mat-card-actions>
</mat-card>
